::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

*:hover::-webkit-scrollbar-thumb {
  opacity: 0;
  background: rgba(var(--color-neutral-600) / 50%);
  border-radius: 9999px;
  transition: opacity 200ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-neutral-600) / 75%);
}
